body{
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 18px;
}

.button{
	background: var(--tg-theme-button-color);
	color: var(--tg-theme-button-text-color);
	border: none;
	font-size: 18px;
	margin: 18px
}

#user_card {
 text-align: left;
 color: var(--tg-theme-text-color);
}

#inp_desc {
 color: var(--tg-theme-text-color);
 width: initial;
 display: inline;
}

div {
  display: inline;
}