body {
 display: flex;
 flex-direction: column;
 font-size: 18px;
}

.button {
 border: none;
 font-size: 18px;
 margin: 10px;
}

#buttons{
 height: inherit;
}

#user_card {
 text-align: left;
 color: var(--tg-theme-text-color);
}

#inp_desc {
 color: var(--tg-theme-text-color);
 width: initial;
 display: inline;
}

div {
  display: inline;
}